a {
  text-decoration: none;
  color: inherit;
}

.border {
  list-style: none;
  padding: 0;
  padding-top: 3%;
  margin: 0px;

}

.border li {
  font-family: "Monotype Corsiva";
  padding: 1vw 2vw;
  margin-bottom: 2vw;
  text-align: left;
  border-radius: 2vw;
  border-left: 2vw solid #f05d22;
  box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, .1),
  -2px -2px 5px 0 rgba(0, 0, 0, .1),
  2px 2px 5px 0 rgba(0, 0, 0, .1),
  -2px 2px 5px 0 rgba(0, 0, 0, .1);
  font-size: 2.2vw;
  letter-spacing: 1vw;
  transition: 0.3s all linear;
}

.border li:nth-child(1) {
  border-color: gold;
}

.border li:nth-child(2) {
  border-color: gold;
}

.border li:nth-child(3) {
  border-color: gold;
}

.border li:nth-child(4) {
  border-color: gold;
}

.border li:nth-child(5) {
  border-color: gold;
}

.border li:nth-child(6) {
  border-color: gold;
}

.border li:hover {
  border-left: 10px solid transparent;
}

.selected {
  background-color: rgba(0, 0, 0, 0.2) !important;
  color: white;
}

.block {
  height: 2vw;
}
